.account-box {
    margin-top: 50px;
    width: 500px;
    background-color: pink;
    margin: auto;
    border-radius: 20px;
    padding :20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-box {
    width: 100%;
}

.user-box > input {
    width: 100%;
}